
<div class="file-manager-navigation">
    <div class="d-flex align-items-center justify-content-between w-100 p-3 border-bottom">
        <div>
            <h6 class="fw-semibold mb-0">File Manager</h6>
        </div>
        <div class="dropdown">
            <button class="btn btn-sm btn-icon btn-primary-light btn-wave waves-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ri-settings-3-line"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Hidden Files</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
    <div class="p-3 border-bottom">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0" placeholder="Search Files" aria-describedby="button-addon2">
            <button class="btn btn-light" type="button" id="button-addon2"><i class="ri-search-line text-muted"></i></button>
        </div>
    </div>
    <div>
        <ul class="list-unstyled files-main-nav" id="files-main-nav">
            <li class="active files-type">
                <a href="javascript:void(0)">
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <i class="ri-folder-2-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap">
                            My Files
                        </span>
                        <span class="badge bg-primary">322</span>
                    </div>
                </a>
            </li>
            <li class="files-type">
                <a href="javascript:void(0)">
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <i class="ri-star-s-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap">
                            Favouries
                        </span>
                    </div>
                </a>
            </li>
            <li class="files-type">
                <a href="javascript:void(0)">
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <i class="ri-share-forward-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap">
                            Shared Files
                        </span>
                    </div>
                </a>
            </li>
            <li class="files-type">
                <a href="javascript:void(0)">
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <i class="ri-delete-bin-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap">
                            Recycle Bin
                        </span>
                    </div>
                </a>
            </li>
            <li class="files-type">
                <a href="javascript:void(0)">
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <i class="ri-history-fill fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap">
                            Recent Files
                        </span>
                    </div>
                </a>
            </li>
            <!-- <li>
                <a href="javascript:void(0)">
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <i class="ri-settings-3-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap">
                            Settings
                        </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <i class="ri-questionnaire-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap">
                            Help Center
                        </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <i class="ri-folder-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap">
                            Version
                        </span>
                    </div>
                </a>
            </li> -->
            <!-- <li class="mb-4">
                <a href="javascript:void(0)">
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <i class="ri-logout-box-line fs-16"></i>
                        </div>
                        <span class="flex-fill text-nowrap">
                            Log out
                        </span>
                    </div>
                </a>
            </li> -->
            <li class="mb-4">
                <div class="text-muted mb-2">
                    <p class="mb-1"><span class="fw-bold fs-14">69.42GB</span> Used</p>
                    <p class="fs-12 mb-0">58% Used - 51.04Gb free</p>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 58%" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-center">
                <div class="filemanager-upgrade-storage">
                    <span>
                        <img src="../assets/images/media/file-manager/2.png" alt="">
                    </span>
                    <div class="text-default">
                        <span class="fs-15 fw-semibold">Want to <span class="fw-bold text-success"><u>Buy</u></span> Storage?</span>
                    </div>
                    <div class="mt-3 d-grid">
                        <button class="btn btn-primary-gradient">Upgrade</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

    